#download-header{
    color:#616364;
    font-size: 18px;
    font-weight: 500;
}
#header{
    background-color:rgb(74, 109, 165);
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    color:white;
    text-align: center;
    align-items:center;
    width:100%
    
}
#suggestion-header{
    color:rgb(61,83,119);
    font-size: 15x;
    font-weight: 500;
    margin-bottom: 0;
}