#download-header{
    color:#616364;
    font-size: 18px;
    font-weight: 500;
}
#header{
    text-align:center;
    color:#565c5e;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}