#message{
    color: rgb(250, 24, 24);
    font-size:18px;
    font-weight:400;
    text-align: center;
}
#no-account{
    display:inline;
    font-size:16px;
    font-weight:400;
    color:rgb(163, 159, 159)
}
#login-top{
    text-align: center;/*#526b77*/
    color:#5F768B;
} 
#sign-in{
    font-weight:400;
    font-size:15px;
    border-radius:5px;
     color:white;
     background-color: #5F768B;
     padding:5px;
     padding-left:20px;
     padding-right:20px;
     border-color: white;
     
}