#message{
    color: rgb(250, 24, 24);
    font-size:15px;
    font-weight:400;
    text-align: center;
}
#no-account{
    display:inline;
    font-size:16px;
    font-weight:400;
    color:rgb(163, 159, 159)
}
#login-top{
    text-align: center;/*#526b77*/
    color:#244869;
} 
#sign-in{
    font-weight:400;
    font-size:16px;
    border-width: 1px;
    border-radius:5px;
    border-color:white;
    color:white;
    background-color: #244869;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
     
}