#message{
    color: rgb(250, 24, 24);
    font-size:18px;
    font-weight:400;
    text-align: center;
}
#no-account{
    display:inline;
    font-size:16px;
    font-weight:400;
    color:rgb(163, 159, 159)
}
#login-top{
    text-align: center;
    color:#616364;
}
#sign-in{
    font-weight:400;
    font-size:18px;
    border-radius:8px;
     color:white;
     background-color: #4a4a4b;
     padding:5px;
     padding-left:25px;
     padding-right:25px;
     
}