#nav-bar{
    background-color: white ;
    padding-left: 10%;
    padding-right: 10%;
}
#nav-bar-mb{
    background-color: white ;
    padding-left: 15px;
    padding-right: 15px;
}
#nav-bar-tb{
    background-color: white ;
    padding-left: 10%;
    padding-right: 10%;
}