#register-message{
    color: rgb(250, 24, 24);
    font-size:13px;
    font-weight:400
}
#sign-up{
   
        font-weight:400;
        font-size:18px;
        border-width: 1px;
        border-radius:5px;
        border-color:white;
        color:white;
        background-color: #244869;
        padding:5px;
        padding-left:30px;
        padding-right:30px;

}
#sign-up-mb{
    font-weight:500;
    font-size:14px;
    border-width: 1px;
    border-radius:5px;
    border-color:white;
    color:white;
    background-color: #244869;
    padding:5px;
    padding-left:20px;
    padding-right:20px;

}
