#sharing{
    background-color:white;
    border: solid;
    /*border-color: #1a2631;*/
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom:5px;
    
}
#sharings{
    /*background-color: #4a4a4b;*/
   
}
#suggestion-header{
    color:#616364;
    font-size: 18px;
    font-weight: 500;
}