#sharing{
    border: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom:15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;

}
#sharing-mb{
    background-color:white;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    margin-bottom:5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    display: flex;
}

#suggestion-header{
    color:rgb(61,83,119);
    font-size: 15px;
    font-weight: 600;
}
#question-icon{
    font-size:50px;
    color:rgb(243, 82, 82);
}
#check-icon{
     color:rgba(56, 175, 41, 0.815);
     font-size: 50px;
}
#answered-header{
    color:rgb(151, 140, 140);
    font-size:15px;
    font-weight:400;
    padding-top:10px;
}
#unanswered-header{
    color:rgb(243, 82, 82);
    font-size:15px;
    font-weight:400;
    padding-top:10px;
}
#question-icon-mb{
    font-size:30px;
    color:rgb(243, 82, 82);
}
#check-icon-mb{
     color:rgba(56, 175, 41, 0.815);
     font-size: 30px;
}
#answered-header-mb{
    color:rgb(151, 140, 140);
    font-size:12px;
    font-weight:600;
    padding-top:5px;
}
#unanswered-header-mb{
    color:rgb(243, 82, 82);
    font-size:12px;
    font-weight:600;
    padding-top:5px;
}
#suggestion-header-mb{
    color:rgb(61,83,119);
    font-size: 12px;
    font-weight: 600;
    margin-top:.5rem;    
}